*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   body{
      align-items: center;
      justify-content: center;
      display: flex;
      height:100vh;
      background-color: black;
      }

  .main{
    background-color: rgb(218, 55, 55);
    padding: 1em;
    border-radius: 10px;
    padding-bottom: 1em;
    transition: .3s all;
    margin: 1em;
  }
  .main:hover{
    background-color: rgb(142, 188, 229);
    box-shadow: 0 0 20px aliceblue ;
  }
  .loader{
    display: flex;
    flex-direction: row;
    height: 4em;
    padding:0 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;

  }
  .current_playing{

    display: flex;
    margin: 1em;

  }
  .loader:hover{
    cursor: pointer;
    background-color: antiquewhite;
  }
  .yt{
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
  }
  .yt img{
    width: 100%;
    width: 100%;
    
  }
  .current_playing{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    align-self: cenetr;
  }
  .loading{
    display: flex;
    margin-top: 1em;
    margin-left: .3em;

  }
  
  .load:nth-child(1){
    animation-delay: .2s;
  }
  .load:nth-child(2){
    animation-delay: .4s;
  }
  .load:nth-child(3){
    animation-delay: .6s;
  }

  .play{
    position: relative;
    left:0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%,100% 50%,75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }
  
  .song{
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  .artist{
    font-size: .9em;
  }

  .load{ 
    width: 2px;
    height: 33px;
    background-color: white;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  @keyframes move6{
    0%{
       height:0.2em;
    }

    25%{
      height:0.7em;
   }
   50%{
    height:1.5em;
 }
 100%{
  height:0.2em;
}
  }
  